# Pandas Series is similar to Python list

In [1]:
import pandas as pd

airports = pd.Series([
    '인천',
    '부산',
    "청주"
])

print('경상도 공항에는' + airports[1])

for values in airports:
    print(values)

경상도 공항에는부산
인천
부산
청주

# DataFrame for two dimensional data structures

column parameter to specify column names

In [3]:
cities = pd.DataFrame([
    ['안성', '서울', '대전'],
    ['여수', '순천', '전주'],
    ['부산', '울산', '울진']
    ],
    columns = ['First', 'Second', 'Third']
    # index = ['집, 학교', '여행지', '여행지2']
)

cities

  First Second Third
0    안성     서울    대전
1    여수     순천    전주
2    부산     울산    울진

# Removing columns

In [4]:
new_cities = cities.drop(columns=['Second'])
new_cities.head()

  First Third
0    안성    대전
1    여수    전주
2    부산    울진

In [13]:
new_cities2 = cities.drop(columns=['Second'], inplace=True)
new_cities2.head()

AttributeError: 'NoneType' object has no attribute 'head'

In [11]:
loc_cities = cities.loc[1:2, ['Third']]
loc_cities.head()

  Third
1    전주
2    울진