In [4]:
import pandas as pd

In [5]:
delays_df = pd.read_csv('csvData/Lots_of_flight_data.csv')
delays_df.shape

(300000, 16)

In [8]:
X = delays_df.loc[:,['DISTANCE', 'CRS_ELAPSED_TIME']]
X.tail

<bound method NDFrame.tail of         DISTANCE  CRS_ELAPSED_TIME
0           1670               225
1           1670               225
2            580               105
3            580               105
4            580               100
...          ...               ...
299995       386                87
299996       386                92
299997       221                71
299998       221                81
299999       240                66

[300000 rows x 2 columns]>

In [9]:
Y = delays_df.loc[:, ['ARR_DELAY']]
# Y.head()
Y.tail

<bound method NDFrame.tail of         ARR_DELAY
0           -17.0
1           -25.0
2           -13.0
3           -12.0
4            -7.0
...           ...
299995       -7.0
299996      -13.0
299997       -2.0
299998      -13.0
299999        6.0

[300000 rows x 1 columns]>

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
                                                    X,
                                                    Y,
                                                    test_size=0.3,
                                                    random_state=42
                                                    )

In [9]:
X_train.shape

(210000, 2)

In [10]:
X_test.shape

(90000, 2)

In [11]:
X_train.head()

        DISTANCE  CRS_ELAPSED_TIME
186295       237                60
127847       411               111
274740       342                85
74908       1005               164
11630        484               100

In [13]:
y_train.head()

        ARR_DELAY
186295       -7.0
127847      -16.0
274740      -10.0
74908       -19.0
11630       -13.0

In [14]:
X_train.head()

        DISTANCE  CRS_ELAPSED_TIME
186295       237                60
127847       411               111
274740       342                85
74908       1005               164
11630        484               100